In [1]:
'''
        Visualising the impact of amount invested by Government on roads 
                                    vs 
                The Death count caused by Road Accidents
                under varying unemployment and car sales, 
                        over a span of 20 years.
'''

'\n        Visualising the impact of amount invested by Government on roads \n                                    vs \n                The Death count caused by Road Accidents\n                under varying unemployment and car sales, \n                        over a span of 20 years.\n'

In [2]:
import numpy as np
import pandas as pd

from bokeh.plotting import figure
from bokeh.io import show
from bokeh.models import ColumnDataSource, CDSView, GroupFilter
from bokeh.models import LinearAxis, Range1d, HoverTool
from bokeh.io import output_file
from bokeh.models.widgets import Tabs,Panel

In [3]:
pd.set_option('display.precision',7)
df_spent=pd.read_csv(r'C:\Users\Vaibhav\Documents\Project\Datasets\DP_LIVE_17112019035247695.csv')

In [4]:
df_spent.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,INFRAINVEST,ROAD,EUR,A,1994,2853264889.0,NaN
1,AUS,INFRAINVEST,ROAD,EUR,A,1995,2425107142.0,NaN
2,AUS,INFRAINVEST,ROAD,EUR,A,1996,2924042252.0,NaN
3,AUS,INFRAINVEST,ROAD,EUR,A,1997,3333285963.0,NaN
4,AUS,INFRAINVEST,ROAD,EUR,A,1998,3537193230.0,NaN

In [5]:
df_acc=pd.read_csv(r'C:\Users\Vaibhav\Documents\Project\Datasets\DP_LIVE_17112019035315885.csv')

In [6]:
df_acc.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,LUX,ROADACCID,DEATH,1000000HAB,A,1994,163.8021964,NaN
1,LUX,ROADACCID,DEATH,1000000HAB,A,1995,171.3062099,NaN
2,LUX,ROADACCID,DEATH,1000000HAB,A,1996,171.4044300,NaN
3,LUX,ROADACCID,DEATH,1000000HAB,A,1997,143.0444630,NaN
4,LUX,ROADACCID,DEATH,1000000HAB,A,1998,134.2123852,NaN

In [7]:
df_car=pd.read_csv(r'C:\Users\Vaibhav\Documents\Project\Datasets\DP_LIVE_17112019035435512.csv')

In [8]:
df_car.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value Flag Codes
0      AUS   PASSCAR     TOT  PC_CHG         A  1994  1.2500000        NaN
1      AUS   PASSCAR     TOT  PC_CHG         A  1995  6.0138755        NaN
2      AUS   PASSCAR     TOT  PC_CHG         A  1996  0.7547525        NaN
3      AUS   PASSCAR     TOT  PC_CHG         A  1997  9.8148999        NaN
4      AUS   PASSCAR     TOT  PC_CHG         A  1998  8.1441206        NaN

In [9]:
df_unemp=pd.read_csv(r'C:\Users\Vaibhav\Documents\Project\Datasets\API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_422140\API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_422140.csv',skiprows=3)

In [11]:
#transformationabs

In [12]:
#since all 3 column names same, we change:

In [13]:
df_spent['Amount']=df_spent['Value']

In [14]:
df_spent.drop('Value',axis=1,inplace=True)

In [15]:
df_spent.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Flag Codes,Amount
0,AUS,INFRAINVEST,ROAD,EUR,A,1994,NaN,2853264889.0
1,AUS,INFRAINVEST,ROAD,EUR,A,1995,NaN,2425107142.0
2,AUS,INFRAINVEST,ROAD,EUR,A,1996,NaN,2924042252.0
3,AUS,INFRAINVEST,ROAD,EUR,A,1997,NaN,3333285963.0
4,AUS,INFRAINVEST,ROAD,EUR,A,1998,NaN,3537193230.0

In [16]:
#same with df_acc

In [17]:
df_acc['Accno']=df_acc['Value']  #Accno implies number of accidents

In [18]:
df_acc.drop('Value',axis=1,inplace=True)

In [19]:
df_acc.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Flag Codes,Accno
0,LUX,ROADACCID,DEATH,1000000HAB,A,1994,NaN,163.8021964
1,LUX,ROADACCID,DEATH,1000000HAB,A,1995,NaN,171.3062099
2,LUX,ROADACCID,DEATH,1000000HAB,A,1996,NaN,171.4044300
3,LUX,ROADACCID,DEATH,1000000HAB,A,1997,NaN,143.0444630
4,LUX,ROADACCID,DEATH,1000000HAB,A,1998,NaN,134.2123852

In [20]:
#same with df_car

In [21]:
df_car['Car']=df_car['Value']

In [22]:
df_car.drop('Value',axis=1,inplace=True)

In [24]:
#merging

In [25]:
df_spent_acc=df_spent.merge(df_acc,on=['LOCATION','TIME'],how='inner')

In [26]:
df_spent_acc_car=df_spent_acc.merge(df_car,on=['LOCATION','TIME'],how='inner')

In [27]:
df=df_spent_acc_car #merged 3 in 1

In [28]:
df.head()

,LOCATION,INDICATOR_x,SUBJECT_x,MEASURE_x,FREQUENCY_x,TIME,Flag Codes_x,Amount,INDICATOR_y,SUBJECT_y,MEASURE_y,FREQUENCY_y,Flag Codes_y,Accno,INDICATOR,SUBJECT,MEASURE,FREQUENCY,Flag Codes,Car
0,AUS,INFRAINVEST,ROAD,EUR,A,1994,NaN,2853264889.0,ROADACCID,DEATH,1000000HAB,A,NaN,107.9809577,PASSCAR,TOT,PC_CHG,A,NaN,1.2500000
1,AUS,INFRAINVEST,ROAD,EUR,A,1995,NaN,2425107142.0,ROADACCID,DEATH,1000000HAB,A,NaN,111.6091191,PASSCAR,TOT,PC_CHG,A,NaN,6.0138755
2,AUS,INFRAINVEST,ROAD,EUR,A,1996,NaN,2924042252.0,ROADACCID,DEATH,1000000HAB,A,NaN,107.5856043,PASSCAR,TOT,PC_CHG,A,NaN,0.7547525
3,AUS,INFRAINVEST,ROAD,EUR,A,1997,NaN,3333285963.0,ROADACCID,DEATH,1000000HAB,A,NaN,95.4258249,PASSCAR,TOT,PC_CHG,A,NaN,9.8148999
4,AUS,INFRAINVEST,ROAD,EUR,A,1998,NaN,3537193230.0,ROADACCID,DEATH,1000000HAB,A,NaN,93.7950938,PASSCAR,TOT,PC_CHG,A,NaN,8.1441206

In [29]:
#additional: removing unnecessary columns from here or indivudually before

In [30]:
pd.options.display.float_format='{:.5f}'.format

In [31]:
df['Amount']=df['Amount'].apply(int)

In [34]:

dff=df.groupby('TIME').Accno.quantile([0.25,0.5,0.75])

df['Color_ext']=df.apply(lambda x: 'Black' if x['Accno']>=dff[x['TIME']][0.75] else 'Red' if x['Accno']>=dff[x['TIME']][0.5] else 'Orange' if x['Accno']>=dff[x['TIME']][0.25] else 'Pink',axis=1)

In [35]:
#transformations on unemp df

years_list1=list(df.TIME.unique())
years_list=[]
for i in years_list1:
    years_list.append(str(i))
countries=['Australia','Canada','France']

df_unemp=df_unemp.transpose()
df_unemp.rename(columns=df_unemp.iloc[0],inplace=True)
df_unemp=df_unemp.loc[years_list]
df_unemp=df_unemp[countries]

In [36]:
#new car registerations color change and sign change

df['Color_newcar']=df.apply(lambda x:'Red' if x['Car']<=0 else 'Green',axis=1)
df['Car']=df.apply(lambda x:-x['Car'] if float(x['Car'])<=0 else x['Car'],axis=1)

In [37]:
df['Amount_original']=df['Amount']

df['Amount']=df['Amount'].astype('float')
df['Amount']=df['Amount']/1000000000

In [38]:
#one hover for all

vhover=HoverTool(names=['Foo_aus','Foo_can','Foo_fra'],tooltips=[('year','@TIME'),('amount','@Amount_original')])

In [39]:
vCDF=ColumnDataSource(df)

# Australia

In [40]:
#a single CDS containing all 3 dfs for all locations,
#we will create different CDSViews for different locations

In [41]:
spent_values_aus=np.array(df[df['LOCATION']=='AUS']['Amount'])
acc_values_aus=np.array(df[df['LOCATION']=='AUS']['Accno'])

#Determining Best Line/ Regression Line
par=np.polyfit(spent_values_aus,acc_values_aus,1,full=True)
slope=par[0][0]
intercept=par[0][1]
acc_values_aus_predicted=[slope*i+intercept for i in spent_values_aus]

In [42]:
#unemp.aus
aus_unemp=df_unemp['Australia']
min_aus_unemp=min(aus_unemp)
max_aus_unemp=max(aus_unemp)

aus_unemp_scaled=[]
for i in aus_unemp:
    aus_unemp_scaled.append(round((i-min_aus_unemp)*25/(max_aus_unemp-min_aus_unemp)+4,2))

In [43]:
#graph for australia

#vCDF=ColumnDataSource(df)


#creating view for aus
view_aus=CDSView(source=vCDF,filters=[GroupFilter(column_name='LOCATION',group='AUS')])


#creating figure
aus_fig= figure(plot_height=450,
                plot_width=700,
                title='AUSTRALIA specs'
                ,x_axis_label='Investment (Billion Euros)',
                y_axis_label='No. of Deaths (Per Million Inhabitants)',
                tools=[vhover,'box_select', 'lasso_select', 'poly_select', 'tap','box_zoom','wheel_zoom','pan', 'reset']
                ,x_axis_type="linear"
                )
#aus_fig.xaxis.major_label_orientation=math.pi/2

aus_fig.below[0].formatter.use_scientific = False

aus_fig.x_range = Range1d(2,17)
aus_fig.y_range = Range1d(40, 120, bounds=(0, None))

In [44]:
#now starting to standardize the values  of Australian 

#idea: to make of same scale: instead of AUS, take all 3 together #think
val=df[df['LOCATION']=='AUS']['Car']

min_val=min(val)
max_val=max(val)

new_val=[]

for i in val:
    new_val.append(round((i-min_val)*25/(max_val-min_val)+4,1))

In [45]:
#defining internal colors
df_aus=df[df['LOCATION']=='AUS']

col_aus_int=df_aus.apply(lambda x: 'Black' if x['Accno']>=df_aus.Accno.quantile(0.75) else 'Red' if x['Accno']>=df_aus.Accno.quantile(0.5) else 'Orange' if x['Accno']>=df_aus.Accno.quantile(0.25) else 'Pink',axis=1)

In [46]:
col_aus_ext=df[df['LOCATION']=='AUS']['Color_ext']
col_aus_newcar=df[df['LOCATION']=='AUS'].Color_newcar

In [47]:

# del: aus_fig.circle(x=spent_values_aus,y=acc_values_aus,size=new_val,color='black',fill_color='white')


#rendering

aus_fig.circle(x=spent_values_aus,y=acc_values_aus,size=10,color=col_aus_ext,legend='Actual points')


#actual line
aus_fig.line(spent_values_aus,acc_values_aus, color='Blue',
             legend='Actual Line').visible=False



#predicted line
aus_fig.line(x=spent_values_aus,y=acc_values_aus_predicted,color='green',legend='Trend Detection').visible=False

#for hover:
aus_fig.circle(x='Amount',y='Accno',source=vCDF,view=view_aus,size=10,color=None,name='Foo_aus')

aus_fig.circle(x=spent_values_aus,y=acc_values_aus,size=new_val,color=col_aus_newcar,fill_color='white',legend='Car Reg. (% change)').visible=False
#show(aus_fig)



#unemp circle
aus_fig.circle(x=spent_values_aus,y=acc_values_aus,size=aus_unemp_scaled,color=col_aus_int,fill_color='white',legend='Unemployment %').visible=False


#note: change aus_col_list to actual formula in above , or even better, add similar to CAN and FRA too



aus_fig.legend.location='top_right'
aus_fig.legend.click_policy = 'hide'

# CANADA

In [49]:
#view for Canada
view_can=CDSView(source=vCDF,filters=[GroupFilter(column_name='LOCATION',group='CAN')])

In [50]:
#predicted line
spent_values_can=np.array(df[df.LOCATION=='CAN']['Amount'])
acc_values_can=np.array(df[df.LOCATION=='CAN']['Accno'])

par=np.polyfit(spent_values_can,acc_values_can,1,full=True)

acc_values_can_predicted=[par[0][0]*i + par[0][1] for i in spent_values_can]

col_can_ext=df[df['LOCATION']=='CAN']['Color_ext']

In [51]:
#unemp
can_unemp=df_unemp['Canada']
min_can_unemp=min(can_unemp)
max_can_unemp=max(can_unemp)

can_unemp_scaled=[]
for i in can_unemp:
    can_unemp_scaled.append(round((i-min_can_unemp)*25/(max_can_unemp-min_can_unemp)+4,2))

In [52]:
# now actual method

can_fig=figure(plot_height=450,
               plot_width=700,
              title='CANADA Specs',
                x_axis_label='Investment (Billion Euros)',
                y_axis_label='No. of Deaths (Per Million Inhabitants)',
              tools=[vhover,'box_select', 'lasso_select', 'poly_select', 'tap', 'reset'])

can_fig.x_range=Range1d(2,16)
can_fig.y_range=Range1d(40,120,bounds=(0,None))

#hover
can_fig.circle(x='Amount',y='Accno',source=vCDF,view=view_can,size=10,color=None,name='Foo_can')


#rendering 

#circle point
can_fig.circle(x=spent_values_can,y=acc_values_can,size=12,color=col_can_ext,legend='Actual points')

#actual line
can_fig.line(x=spent_values_can,y=acc_values_can,color='blue', legend='Actual Line').visible=False

#predicted line
can_fig.line(x=spent_values_can,y=acc_values_can_predicted,color='green', legend='Trend Detection').visible=False

#show(can_fig)

In [53]:
#circle color #already in aus, no need for again

#vdf=df[df['LOCATION'].isin(['AUS','CAN','FRA'])].Accno #written in aus

#df['Color']=df.apply(lambda x:'Black' if x['Accno']>=vdf.quantile(0.75) else 'Red' if x['Accno']>=vdf.quantile(0.5) else 'Orange' if x['Accno']>=vdf.quantile(0.25) else 'Pink',axis=1)

In [54]:
df_can=df[df['LOCATION']=='CAN']

col_can_int=df_can.apply(lambda x: 'Black' if x['Accno']>=df_can.Accno.quantile(0.75) else 'Red' if x['Accno']>=df_can.Accno.quantile(0.5) else 'Orange' if x['Accno']>=df_can.Accno.quantile(0.25) else 'Pink',axis=1)
col_can_newcar=df[df['LOCATION']=='CAN'].Color_newcar

In [55]:
#CIRCLE RING

#FOR CIRCLE SIZE
val=df[df['LOCATION']=='CAN']['Car']

max_can=val.max()
min_can=val.min()

can_size=[]

for i in val:
    can_size.append(round((i-min_can)*25/(max_can-min_can)+4,1))

can_fig.circle(x=spent_values_can,y=acc_values_can,size=can_size,color=col_can_newcar,fill_color='white',legend='Car Reg. (% change)').visible=False

In [56]:
can_fig.circle(x=spent_values_can,y=acc_values_can,size=can_unemp_scaled,color=col_can_int,fill_color='white',legend='Unemployment %').visible=False

# FRANCE

In [57]:
#view for france
view_fra=CDSView(source=vCDF,filters=[GroupFilter(column_name='LOCATION',group='FRA')])

In [58]:
spent_values_fra=df[df['LOCATION']=='FRA']['Amount']
acc_values_fra=df[df['LOCATION']=='FRA']['Accno']

par=np.polyfit(spent_values_fra,acc_values_fra,1,full=True)
acc_values_fra_predicted=[par[0][0]*i + par[0][1] for i in spent_values_fra]

In [59]:
#unemp
fra_unemp=df_unemp['France']
min_fra_unemp=min(fra_unemp)
max_fra_unemp=max(fra_unemp)

fra_unemp_scaled=[]
for i in fra_unemp:
    fra_unemp_scaled.append(round((i-min_fra_unemp)*25/(max_fra_unemp-min_fra_unemp)+4,2))

In [60]:
#size of circle


car_fra=df[df['LOCATION']=='FRA']['Car']

min_fra=car_fra.min()
max_fra=car_fra.max()

size_fra=[]

for i in car_fra:
    size_fra.append(round((i-min_fra)*20/(max_fra-min_fra)+4,2))

In [61]:
#color of circle
#internal
df_fra=df[df['LOCATION']=='FRA']

col_fra_int=df_fra.apply(lambda x: 'Black' if x['Accno']>=df_fra.Accno.quantile(0.75) else 'Red' if x['Accno']>=df_fra.Accno.quantile(0.5) else 'Orange' if x['Accno']>=df_fra.Accno.quantile(0.25) else 'Pink',axis=1)


#external
col_fra_ext=df[df['LOCATION']=='FRA']['Color_ext']

#new cars
col_fra_newcar=df[df['LOCATION']=='FRA'].Color_newcar

In [62]:
#creating figure
fra_fig=figure(plot_height=450,
               plot_width=700,
               title='FRANCE Specs',
                x_axis_label='Investment (Billion Euros)',
                y_axis_label='No. of Deaths (Per Million Inhabitants)',
               tools=[vhover,'box_select', 'lasso_select', 'poly_select', 'tap', 'reset'])

fra_fig.x_range=Range1d(9.8,15)
fra_fig.y_range=Range1d(40,160,bounds=(0,None))

In [63]:
#for hover
fra_fig.circle(x='Amount',y='Accno',source=vCDF,view=view_fra,size=10,color=None,name='Foo_fra')

GlyphRenderer(id='1353', ...)

In [64]:
#actual points and points-color
fra_fig.circle(x=spent_values_fra,y=acc_values_fra,color=col_fra_int,size=12,legend='Actual points')
fra_fig.line(x=spent_values_fra,y=acc_values_fra,color='Blue',legend='Actual Line').visible=False

In [65]:
#predicted line
fra_fig.line(x=spent_values_fra,y=acc_values_fra_predicted,color='Green',legend='Trend Detection').visible=False

In [66]:
#circle ring- size and color
fra_fig.circle(x=spent_values_fra,y=acc_values_fra,color=col_fra_newcar,size=size_fra,fill_color='white',legend='Car Reg. (% change)').visible=False

In [67]:
#circle unemp
fra_fig.circle(x=spent_values_fra,y=acc_values_fra,size=fra_unemp_scaled,color=col_fra_int,fill_color='white',legend='Unemployment %').visible=False

In [68]:
aus_fig.legend.click_policy = 'hide'
can_fig.legend.click_policy='hide'
fra_fig.legend.click_policy='hide'

# Adding tabs

In [69]:
aus_panel=Panel(child=aus_fig,title='AUSTRALIA')
can_panel=Panel(child=can_fig,title='CANADA')
fra_panel=Panel(child=fra_fig,title='FRANCE')

vTab=Tabs(tabs=[aus_panel,can_panel,fra_panel])

In [70]:
show(vTab)